main {
  position: relative;
  width: 518px;
  height: 518px;
}

.ring {
  // height: 100%;
  width: 518px;
  height: 518px;
  border: 10px solid #09a65a;
  border-radius: 50%;
  background: radial-gradient(
    71.4% 71.4% at 51.7% 28.6%,
    #3a393f 0%,
    #17171a 100%
  );
  box-shadow: 16px -13px 50px -20px rgba(255, 255, 255, 0.15),
    -16px 13px 14px -3px rgba(0, 0, 0, 0.5),
    inset 0px 0px 114px 0px rgba(0, 0, 0, 0.5);
}

// svg {
//   display: block;
// }

.timer {
  position: absolute;
  left: 50%;
  top: 27%;
  transform: translate(-50%);
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='text'] {
  width: 150px;
  border: none;
  background-color: transparent;
  color: $white;
  font-family: $font-secondary;
  font-size: 12rem;
  outline: none;
  text-align: center;
}

.separator {
  color: $white;
  font-family: $font-secondary;
  font-size: 12rem;
}

.btn {
  display: block;
  border: transparent;
  margin: 0 auto;
  background-color: transparent;

  &:hover {
    opacity: 1;
  }

  &-start,
  &-stop {
    color: $white;
    font-family: $font-primary;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    opacity: 0.6;

    &.hide {
      display: none;
    }
  }

  &-setting {
    margin-top: 2em;
    opacity: 0.4;
  }
}
